<div class="modal-header">
  <h4 class="modal-title">Task Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form #taskForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="taskTitle">Task</label>
      <input class="form-control" name="title" [(ngModel)]="task.Title" #title="ngModel" type="text" value="{{task.Title}}" required>
      <!-- Task Validation Alert -->
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Task is required
      </div>
    </div>

    <div class="form-group">
      <label for="taskStatus">Status</label>
      <select class="form-control" [(ngModel)]="task.Status" #status="ngModel" name="status" required>
        <option *ngFor="let option of taskStatusSelectOptions" value="{{option.Option}}">{{option.Option}}</option>
      </select>
      <!-- Status Validation Alert -->
      <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
        Status is required
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" [disabled]="!taskForm.form.valid" (click)="updateTask(task)">Update</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
