<div class="row">
  <div class="col-sm-6">

    <form #taskForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="taskTitle">Task</label>
        <input id="title" name="title" class="form-control" 
              type="text" placeholder="Task" 
              [(ngModel)]="task.Title" #title="ngModel" required>              
        <!-- Task Validation Alert -->
        <div [hidden]="title.valid || title.pristine"
              class="alert alert-danger">
          Task is required
        </div>
      </div>

      <div class="form-group">
        <label for="taskStatus">Status</label>
        <select id="status" name="status" class="form-control" 
                [(ngModel)]="task.Status" #status="ngModel" required>
          <option *ngFor="let option of taskStatusSelectOptions" value="{{option.Option}}">{{option.Option}}</option>
        </select>
        <!-- Status Validation Alert -->
        <div [hidden]="status.valid || status.pristine"
              class="alert alert-danger">
          Status is required
        </div>
      </div>

      <button #btnSubmit
        id="btnSubmit"
        class="btn btn-primary"
        [disabled]="!taskForm.form.valid"
        (click)="addTask();" 
        type="submit">
        Submit
      </button>
      <button #btnCancel 
        id="btnCancel"
        class="btn btn-danger"
        (click)="navigateTo('');">
        Cancel
      </button>

    </form>

  </div>
</div>